@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --font-color: #E5E7EB;
    --bg-color: #121826;
    --button-primary-color: #652CD1;
    --button-secondary-color: #845EEE;
    --card-primary-color: #212936;
    --card-secondary-color: #394150;
    --card-third-color: #4D5562;
}

html {
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    font-size: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

/* Toast */

.toast-container {
    position: fixed;
    width: 30vw;
    height: 20vh;
    background-color: var(--font-color);
    color: var(--bg-color);
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    flex-direction: column;
}

.toast-content {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.toast-content label {
    padding-bottom: 0;
    color: green;
}

.toast-container button {
    margin-top: 10px;
    border: none;
    font-family: inherit;
    font-size: 0.875rem;
    padding: 14px 38px;
    border-radius: 25px;
    color: var(--font-color);
    background: linear-gradient(to bottom, var(--button-secondary-color), var(--button-primary-color)  90%);
}

.toast-container button:hover {
    background: linear-gradient(to bottom, var(--button-primary-color), var(--button-secondary-color) 90%);
    cursor: pointer;
}

/* SVG Corner */

.svg-corner {
    position: fixed;
}

.svg-corner-top {
    z-index: -1;
    top: -40vh;
}

.svg-corner-bottom {
    z-index: -1;
    bottom: -40vh;
}

.svg-corner-left {
    left: -40vw;
}

.svg-corner-right {
    right: -50vw;
}

/* Stepper */
.stepper-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.stepper-container label {
    font-size: 0.75rem;
    color: var(--card-secondary-color);
}

.stepper-content {
    display: flex;
    gap: 10px;
    margin-left: 20px;
}
.stepper-step {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--card-secondary-color);
    color: var(--font-color);
    font-size: 0.75rem;
}

.stepper-step.active {
    background-color: var(--button-primary-color);
    box-shadow:  0px 0 10px var(--button-secondary-color);
}

/* Container and Layout */
.layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
    margin: auto;
    
}
.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--card-primary-color);
    border-radius: 5px;
    border: 1px solid var(--card-secondary-color);
    width: 100%;
    margin: 0 auto;
}
.card-content {
    width: 80%;
    margin: 0 auto;
}
.card-content h4{
    font-size: 1.25rem;
    margin-top: 25px;
    font-weight: 400;

}

.card-content li.error-message {
    font-size: 0.75rem;
    margin-top: 10px;
    font-weight: bold;
    color: var(--button-secondary-color);
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 20px;
}
.button-container button {
    align-self: center;
    border: none;
    font-family: inherit;
    font-size: 0.875rem;
    padding: 14px 38px;
    border-radius: 25px;
    color: var(--font-color);
    background: linear-gradient(to bottom, var(--button-secondary-color), var(--button-primary-color)  90%);
}

.button-container button:hover {
    background: linear-gradient(to bottom, var(--button-primary-color), var(--button-secondary-color) 90%);
    cursor: pointer;
}

.stepper-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* Cards */

.field-section {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}
.field-section p {
    font-size: 0.75rem;
    margin-bottom: 5px;
}

input {
    height: 45px;
    border-radius: 10px;
    padding: 10px;
    font-size: 0.75rem;
    font-family: 'inter', sans-serif;
}

input:focus, .field-section-error {
    outline: none;
    color: var(--font-color);
}

/* Step 1 */

.step-one input {
    background-color: transparent;
    border: 2px solid var(--card-secondary-color);
    color: var(--font-color);
}

.step-one input::placeholder {
    color: var(--card-secondary-color);
}

.step-one input:focus {
    border: 2px solid var(--button-primary-color);
}

.step-one input.error {
    border: 2px solid var(--button-primary-color);
}

/* Step 2 */

.step-two input{
    margin-top: 10px;
    background-color: rgba(77, 85, 98, 0.3);
    border: 1px solid var(--card-secondary-color);
    color: rgba(229, 231, 235, 0.8);
    font-weight: 100;
}

.step-two input:hover {
    background-color: var(--button-secondary-color);
    color: var(--font-color);
    font-weight: 500;
}

.step-two input.selected {
    background-color: var(--button-secondary-color);
    color: var(--font-color);
    font-weight: 500;
}

/* Step 3 */

.summary-section {
    margin-top: 25px;
}
.summary-field {
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
}

.summary-field label {
    color: rgba(229, 231, 235, 0.5);
}

.topics-field {
    margin-top: 25px;
}

.topics-field label {
    color: rgba(229, 231, 235, 0.5);
}

.topics-field ul {
    margin-left: 25px;
    margin-top: 10px;
}

@media screen and (max-width: 650px) {
    .layout {
        width: 80%;
    }
}

@media screen and (650px <= width <= 1020px) {
    .layout {
        width: 60%;
    }
    
}
@media screen and (min-width: 1020px) {
    .layout {
        max-width: 400px;
    }
    
}