@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --font-color: #E5E7EB;
    --bg-color: #121826;
    --button-primary-color: #652CD1;
    --button-secondary-color: #845EEE;
    --card-primary-color: #212936;
    --card-secondary-color: #394150;
    --card-third-color: #4D5562;
}

html {
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    font-size: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* SVG Corner */

.svg-corner {
    position: fixed;
}

.svg-corner-top {
    z-index: -1;
    top: -40vh;
}

.svg-corner-bottom {
    z-index: -1;
    bottom: -40vh;
}

.svg-corner-left {
    left: -40vw;
}

.svg-corner-right {
    right: -50vw;
}

/* Container and Layout */
.layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
    margin: auto;
    
}
.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--card-primary-color);
    border-radius: 5px;
    border: 1px solid var(--card-secondary-color);
    width: 100%;
    margin: 0 auto;
}
.card-content {
    width: 80%;
    margin: 0 auto;
}
.card-content h4{
    font-size: 1.25rem;
    margin-top: 25px;
    font-weight: 400;

}

.button-container {
    align-self: center;
    border: none;
    font-family: inherit;
    font-size: 0.875rem;
    padding: 14px 38px;
    margin-top: 12px;
    margin-bottom: 20px;
    border-radius: 25px;
    color: var(--font-color);
    background: linear-gradient(to bottom, var(--button-secondary-color), var(--button-primary-color)  90%);
}

.stepper-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}